@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Калькулятор валют</h1>
    <form class="form-inline">
        <label>Выберите валюту:</label>
        <select name="valuteSelect" class="form-control">
            @foreach (Valute valuteName in Model.ValuteList)
            {
                <option value="@valuteName.Name">@valuteName.Name</option>
            }
        </select>
        <input name="inputValue"/>
        <input type="submit" />
    </form>
    <table class="table">
        <tr><td>Валюта</td><td>Курс валюты в рублях</td><td>@Model.InputValue @Model.Valute.Name</td></tr>
        @for (int i = 0; i < Model.ValuteList.Count; i++)
        {
            <tr><td>@Model.ValuteList[i].Name</td><td>@Model.ValuteList[i].Curs</td><td>@Model.ConvertedValues[i]</td></tr>
        }
    </table>
</div>
